body {
    background: #c0deed;
}

ul.hr {margin: 0;}
ul.hr li {
    display: inline;
    font-size:large;

}

a {color:#c88656;}

ul li + li:before{content:"| "}

.center {
    top: 50%;
    margin: 200px auto;
    text-align: center;
    color: #5878ae;
}

#hours {
    font: 15pt/1.6 arial;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
}